:root {

  // Цветовая палитра
  --dark-main-color: #17181E;
  --dark-secondary-main-color: #18191C;
  --dark-secondary-color: #0F0F11;
  --orange: #F7A600;
  --dark-gray: #7F858F;
  --light-gray: #DDDDDD;

  --green: #20B26C;
  --red: #EF454A;

  // Navbar
  --navbar-height: 50px;
  --navbar-padding: 10px;
}