:root {

  // Цветовая палитра
  --color-dark-900: #17181E;
  --color-dark-800: #18191C;
  --color-dark-700: #0F0F11;
  --color-dark-600: #141519;

  --orange: #F7A600;
  --dark-gray: #7F858F;
  --light-gray: #DDDDDD;

  --green: #20B26C;
  --red: #EF454A;

  --box-shadow-dark-700: 0 4px 12px rgba(0, 0, 0, 0.7);

  // Navbar
  --navbar-height: 50px;
  --navbar-padding: 10px;
}