.FearGreedWidgetFront {
  background-color: var(--color-dark-700);
  box-shadow: var(--box-shadow-dark-700);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  width: inherit;
  height: inherit;

  span {
    font-weight: bold;
    color: var(--orange);
  }

  .FearGreedContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    position: relative;

    span {
      font-size: 40px;
      margin-top: -20%;
      color: white;
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(20deg); /* ✅ Один transform */
      z-index: 2;
      width: 100%;
      text-align: left;
      height: 20px;
    }
  }

  .FearGreedColor {
    width: auto;
    height: auto;
  }
}

.FearGreedWidgetBack {
  background-color: var(--color-dark-700);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;

  width: inherit;
  height: inherit;

  span {
    color: var(--orange);
    font-weight: bold;
  }
}